.floating-label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 4px;
  background-color: white;
  transition: all 0.3s ease;
  pointer-events: none;
}

/* When input is focused */
.peer:focus + .floating-label {
  top: 0;
  transform: translateY(-50%);
  font-size: 12px;
}

/* When input has a value */
.peer:not(:placeholder-shown) + .floating-label {
  top: 0;
  transform: translateY(-50%);
  font-size: 12px;
}

/* shake animation */
@keyframes shake {
  0%,
  100% {
    transform: translateY(0);
  }

  20%,
  60% {
    transform: translateY(-5px);
  }

  40%,
  80% {
    transform: translateY(5px);
  }
}

.shake {
  animation: shake 0.4s ease-in-out;
}
@keyframes vibrate {
  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-2px);
  }
}

.vibrate {
  animation: vibrate 0.25s ease-in-out 1;
}
